/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

/public/build
/storage/pail
.env.backup
.env.production
.phpactor.json
auth.json

/37th/vendor/*
/37th/vendor2/*
/37th/public/attachment/*
/37th/public/endorsement_letter/*
/37th/storage/framework/*
/37th/public/assets_website/img/StratPlan_2023-2028.pdf
